main {
    /*background-color: brown;*/
    /*display: grid*/
}

/*#container {
    border: 2px black solid;
    background-color: lemonchiffon;
}
#img_container {
    border: 2px black solid;
    background-color: forestgreen;
}

#img_container img {
    height: 100px;
}*/
.canvas {
    border: 3px black solid;
    height: 45em;
    width: 80%;
}

.lager {
    display: inline-flex;
}

.edit_menu {
    /*float: right;*/
    height: 500px;
    background-color: salmon;
    width: 1200px;
}

.swatches {
    height: 400px;
}
.ordering {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.ordering button {
    width: 10em;
    align-self: center;
}

.item_img {
    height: 7em;
    width: 7em;
    object-fit: contain;
    object-position: center;
    border: 1px solid black;
}

.newlayer {
    border: 2px rebeccapurple solid;
    height: max-content;
}

.invisible {
    visibility: hidden;
}
